<% title resource_class.model_name.human %>

<div class="actions">
  <%= link_to t(:new), new_resource_url, :class => "button floatr" %>
</div>

<%= semantic_search_form_for :diploma, :url => diplomas_path, :html => {:method => :get, :class => 'search_form'} do |form| %>
  <%= form.inputs do %>
    <%= form.input :search_string %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button 'Найти', :button_html => {:class => 'button'} %>
  <% end %>
<% end %>

<% if collection.any? %>
  <ul class="<%= resource_class.name.downcase.pluralize %>_list collection ">
    <% collection.each do |obj| %>
      <%= render :partial => "item", :locals => { :item => obj } %>
    <% end %>
  </ul>
  <%= will_paginate collection %>
<% end %>

