<% title resource %>

<%= link_to t(:edit), edit_diploma_path, :class => 'button floatr' %>
<%= link_to 'Печать шаблона', pdf_diploma_path(resource), :class => 'button floatr print' %>

<%= show_for resource do |item| %>
  <%= item.association :student, :using => :full_info %>
  <%= item.attributes :number, :eng_number, :chair, :speciality, :admission_date, :graduation_date, :study_form, :total_hours, :contact_hours %>
<% end %>

<ul class='tabs_menu'>
  <li class='first'><%= link_to "Дисциплины", '#', :class => 'courses' %></li>
  <li><%= link_to "Курс. работы", '#', :class => 'papers' %></li>
  <li><%= link_to "Практики", '#', :class => 'practices' %></li>
  <li><%= link_to "Гос. экзамен", '#', :class => 'state_examination' %></li>
  <li class='last'><%= link_to "Квал. работа", '#', :class => 'qualification_project' %></li>
</ul>

<div class='details_wrapper'>
  <ul class='details'>
    <li id='courses'>
      <div class="headline">
        <span class='title'>Название</span>
        <span class='eng_title'>Название на англ. языке</span>
        <span class='credits'>Баллы</span>
        <span class='hours'>Часы</span>
        <span class='human_grade'>Оценка</span>
      </div>
      <ol class='courses_list list' id='courses_list'>
        <% if @diploma.courses.any? %>
          <% @diploma.courses.order('position DESC').each do |course| %>
            <li class="item" id="programm_item_<%= course.id %>">
              <%= render :partial => "courses/course", :locals => {:course => course} %>
            </li>
          <% end %>
        <% else %>
          <li class='empty'>нет дисциплин</li>
        <% end %>
      </ol>
      <div class='form_new'>
        <%= render :file => "courses/new.html.erb" %>
      </div>
    </li>

    <li id='papers'>
      <div class="headline">
        <span class='title'>Название</span>
        <span class='eng_title'>Название на англ. языке</span>
        <span class='human_grade'>Оценка</span>
      </div>
      <ol class='papers_list list' id='papers_list'>
        <% if @diploma.papers.any? %>
          <% @diploma.papers.order('position DESC').each do |paper| %>
            <li class="item" id="programm_item_<%= paper.id %>">
              <%= render :partial => "papers/paper", :locals => {:paper => paper} %>
            </li>
          <% end %>
        <% else %>
          <li class='empty'>нет курсовых работ</li>
        <% end %>
      </ol>
      <div class='form_new'>
        <%= render :file => "papers/new.html.erb" %>
      </div>
    </li>

    <li id='practices'>
      <div class="headline">
        <span class='title'>Название</span>
        <span class='eng_title'>Название на англ. языке</span>
        <span class='credits'>Баллы</span>
        <span class='hours'>Недели</span>
        <span class='human_grade'>Оценка</span>
      </div>
      <ol class='practices_list list' id='practices_list'>
        <% if @diploma.practices.any? %>
          <% @diploma.practices.order('position DESC').each do |practice| %>
            <li class="item" id="programm_item_<%= practice.id %>">
              <%= render :partial => "practices/practice", :locals => {:practice => practice} %>
            </li>
          <% end %>
        <% else %>
          <li class='empty'>нет практик</li>
        <% end %>
      </ol>
      <div class='form_new'>
        <%= render :file => "practices/new.html.erb" %>
      </div>
    </li>

    <li id='state_examination'>
      <div class="headline">
        <span class='title'>Название</span>
        <span class='eng_title'>Название на англ. языке</span>
        <span class='human_grade'>Оценка</span>
      </div>

      <ol class='final_state_examinations_list list' id='final_state_examinations_list'>
        <% if @diploma.final_state_examinations.any? %>
          <% @diploma.final_state_examinations.order('position ASC').each do |final_state_examination| %>
            <li class="item" id="programm_item_<%= final_state_examination.id %>">
              <%= render :partial => 'final_state_examinations/final_state_examination', :locals => { :final_state_examination => final_state_examination } %>
            </li>
          <% end %>
        <% else %>
          <li class='empty'>нет гос. экзаменов</li>
        <% end %>
        <div class='form_new'>
          <%= render :file => "final_state_examinations/new.html.erb" %>
        </div>
      </ol>
    </li>

    <li id='qualification_project'>
      <div class="headline">
        <span class='title'>Название</span>
        <span class='eng_title'>Название на англ. языке</span>
        <span class='credits'>Баллы</span>
        <span class='hours'>Недели</span>
        <span class='human_grade'>Оценка</span>
      </div>
      <ul class='qualification_project_list list'>
        <% if @diploma.final_qualification_project %>
          <li class="item">
            <%= render @diploma.final_qualification_project %>
          </li>
        <% else %>
          <li class='empty'>Нет квалификационной работы</li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

