<p id="notice"><%= notice %></p>

<p>
  <b>Speciality:</b>
  <%= @diploma.speciality %>
</p>

<p>
  <b>Number:</b>
  <%= @diploma.number %>
</p>

<p>
  <b>Admission date:</b>
  <%= @diploma.admission_date %>
</p>

<p>
  <b>Graduation date:</b>
  <%= @diploma.graduation_date %>
</p>

<p>
  <b>Study form:</b>
  <%= @diploma.study_form %>
</p>

<p>
  <b>Study duration:</b>
  <%= @diploma.study_duration %>
</p>

<p>
  <b>Total hours:</b>
  <%= @diploma.total_hours %>
</p>

<p>
  <b>Contact hours:</b>
  <%= @diploma.contact_hours %>
</p>


<%= link_to 'Edit', edit_diploma_path(@diploma) %> |
<%= link_to 'Back', diplomas_path %>
