<% title resource %>

<%= link_to t(:edit), edit_diploma_path, :class => 'button floatr' %>
<%= link_to 'Печать шаблона', pdf_diploma_path(resource), :class => 'button floatr print' %>

<%= show_for resource do |item| %>
  <%= item.association :student, :using => :full_info %>
  <%= item.attributes :number, :eng_number, :chair, :speciality, :admission_date, :graduation_date, :study_form, :total_hours, :contact_hours %>
<% end %>

<ul class='tabs_menu'>
  <li class='first'><%= link_to "Дисциплины", '#', :class => 'courses' %></li>
  <li><%= link_to "Курс. работы", '#', :class => 'papers' %></li>
  <li><%= link_to "Практики", '#', :class => 'practices' %></li>
  <li><%= link_to "Гос. экзамен", '#', :class => 'state_examination' %></li>
  <li class='last'><%= link_to "Квал. работа", '#', :class => 'qualification_project' %></li>
</ul>

<div class='details_wrapper'>
  <ul class='details'>
    <li id='courses'>
      <div class="headline">
        <span class='title'>Название</span>
        <span class='eng_title'>Название на англ. языке</span>
        <span class='credits'>Баллы</span>
        <span class='hours'>Часы</span>
        <span class='human_grade'>Оценка</span>
      </div>
      <ol class='courses_list list'>
        <% if @diploma.courses.any? %>
          <% @diploma.courses.each do |course| %>
            <li class="item">
              <%= render :partial => "courses/course", :locals => {:course => course} %>
            </li>
          <% end %>
        <% else %>
          <li class='empty'>нет дисциплин</li>
        <% end %>
      </ol>
      <div class='form_new'>
        <%= render :file => "courses/new.html.erb", :locals => {:diploma => resource} %>
      </div>
    </li>

    <li id='papers'>
      <table>
        <thead>
          <tr>
            <th>Название</th>
            <th>Название на английском языке</th>
            <th>Оценка</th>
          </tr>
        </thead>
        <tbody class='papers_list list'>
          <% if @diploma.papers.any? %>
            <%= render @diploma.papers %>
          <% else %>
            <tr>
              <td colspan='3' class='empty'>нет курсовых работ</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= render :partial => "papers/form", :locals => {:diploma => resource} %>
    </li>

    <li id='practices'>
      <table>
        <thead>
          <tr>
            <th>Название</th>
            <th>Название на английском языке</th>
            <th>Баллы</th>
            <th>Недели</th>
            <th>Оценка</th>
          </tr>
        </thead>
        <tbody class='practices_list list'>
          <% if @diploma.practices.any? %>
            <%= render @diploma.practices %>
          <% else %>
            <tr>
              <td colspan='5' class='empty'>нет практик</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= render :partial => "practices/form", :locals => {:diploma => resource} %>
    </li>

    <li id='state_examination'>
      <ul class='state_examination_list list'>
        <% if @diploma.final_state_examination %>
          <%= render @diploma.final_state_examination %>
        <% else %>
          <li class='empty'>Нет гос.экзамена </li>
        <% end %>
      </ul>

      <%= render :partial => "final_state_examinations/form", :locals => {:diploma => resource} %>
    </li>

    <li id='qualification_project'>
      <ul class='qualification_project_list list'>
        <% if @diploma.final_qualification_project %>
          <%= render @diploma.final_qualification_project %>
        <% else %>
          <li class='empty'>Нет квалификационной работы</li>
        <% end %>
      </ul>

      <%= render :partial => "final_qualification_projects/form", :locals => {:diploma => resource} %>
    </li>
  </ul>

</div>
