<%= form.fields_for :student do |student| %>
  <%= student.inputs do %>
    <%= student.input :surname, :input_html => {:tabindex => '1'}, :label => 'Имя' %>
    <%= student.input :firstname, :input_html => {:tabindex => '2'}, :label => 'Фамилия' %>
    <%= student.input :birthday, :input_html => {:tabindex => '8'} %>
  <% end %>
<% end %>

<%= form.inputs do %>
  <%= form.input :faculty, :wrapper_html => {:class => 'right wide'}, :input_html => {:tabindex => '9'} %>
  <%= form.input :issued_on %>
<% end %>

<%= form.fields_for :semesters, @academic_record.semesters do |semester_fields| %>
  <%= semester_fields.inputs do %>
    <%= semester_fields.input :year, :input_html => {:tabindex => '1'} %>
    <%= semester_fields.input :kind, :input_html => {:tabindex => '1'} %>
    <li class='remove_link'>
      <%= semester_fields.link_to_remove 'Удалить' %>
    </li>
  <% end %>
<% end %>

<div class="add_link">
<%= form.link_to_add 'Добавить семестер', :semesters %>
</div>
