<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <title><%= @academic_record %></title>
    <%= stylesheet_link_tag 'print_academic_records' %>
  </head>
  <body>
    <div class='wrapper'>

      <div class='header'>
          <div class='right_info'>
            <ul>
              <li><%= @academic_record.faculty.eng_title %></li>
              <li><span class='strong'><%= @academic_record.student %></span></li>
              <li>Registration №: <%= @academic_record.number %></li>
              <li>Date of Birth: <%= @academic_record.student.birthday.strftime('%B %d, %Y') %></li>
              <li>Date of Admission: <%= @academic_record.admission_date.strftime('%B %d, %Y') %></li>
              <li>Date of Issue: <%= @academic_record.issue_date.strftime('%B %d, %Y') %></li>
            </ul>
          </div>
      </div>

      <div class='content'>
        <table>
          <thead>
            <tr>
              <th></th>
              <th class='course_title'>Course Title</th>
              <th class='credits'>Credits</th>
              <th class='hours'>Hours</th>
              <th class='grades'>Grades</th>
            </tr>
          </thead>
          <tbody>
            <% @academic_record.courses_grouped_by_semester.each do |semester, courses| %>
              <% courses.each_with_index do |course, index| %>
              <tr>
                <% if index.zero? %>
                  <td rowspan="<%= courses.count %>" class='semester'><%= semester %></td>
                <% end %>
                <td class='course_title'><%= course.eng_title %></td>
                <td class='credits'><%= course.credits %></td>
                <td class='hours'><%= course.hours.to_i > 0 ? course.hours : '-' %></td>
                <td class='grades'><%= course.human_grade_eng %></td>
              </tr>
              <% end %>
            <% end %>
              <tr>
                <td style="border: none"></td>
                <td class='total_title'>Total</td>
                <td class='total_credits'><%= @academic_record.total_credits %></td>
                <td class='total_hours'><%= @academic_record.total_hours %></td>
                <td style="border: none"></td>
              </tr>
          </tbody>
        </table>
      </div>

      <div class='sign'>
        <div class='left_sign'>
          <div class='fio strong'><%= t 'rector_name' %></div>
          <%= t 'rector_post' %>
        </div>
        <div class='right_sign'>
          <div class='fio strong'><%= @academic_record.faculty.chief_name %></div>
          <%= @academic_record.faculty.chief_post %>
          <%= "#{@academic_record.faculty.eng_title}" %>
        </div>
      </div>

    </div>
  </body>
  </html>
