<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <title><%= @academic_record %></title>
    <%= stylesheet_link_tag 'print_academic_records' %>
  </head>
  <body>
    <div class='header'>

    </div>

    <div class='wrapper'>
      <h1 class='uppercase center'>Transcript of academic records</h1>
      <div class='left_info'>
        <ul>
          <li><%= @academic_record.faculty.eng_title %></li>
          <li><span class='strong'><%= @academic_record.student %></span></li>
        </ul>
      </div>

      <div class='right_info'>
        <ul>
          <li><span class='page_numbers'>Page 1 of 1</span></li>
          <li>Registration №: <%= @academic_record.number %></li>
          <li>Date of Birth: <%= @academic_record.student.birthday.strftime('%B %d, %Y') %></li>
          <li>Date Issued: <%= @academic_record.issued_on.strftime('%B %d, %Y') %></li>
        </ul>
      </div>

      <div class='content'>
        <table>
          <thead>
            <tr>
              <th></th>
              <th class='course_title'>Course Title</th>
              <th class='credits'>Credits</th>
              <th class='hours'>Hours</th>
              <th class='grades'>Grades</th>
            </tr>
          </thead>
          <tbody>
            <% @academic_record.courses_grouped_by_semester.each do |semester, courses| %>
              <% courses.each_with_index do |course, index| %>
                <tr>
                  <td class='semester'><%= semester %></td>
                  <td><%= course.eng_title %></td>
                  <td class='credits'><%= course.credits %></td>
                  <td class='hours'><%= course.hours %></td>
                  <td class='grades'><%= course.human_grade_eng %></td>
                </tr>
              <% end %>
            <% end %>

              d<tr>
                <td style="border: none"></td>
                <td class='total_title'>Total</td>
                <td class='total_credits'>0</td>
                <td class='total_hours'>0</td>
                <td style="border: none"></td>
              </tr>

            <%# NOTE: так сделато чтобы дисциплины были на нужной странице %>
            <% if @academic_record.courses.count < 17 %>
              <% (@academic_record.courses.count + 1..17).each do %>
                <tr>
                  <td style="border: none"></td>
                  <td style="border: none"></td>
                  <td style="border: none"></td>
                  <td style="border: none"></td>
                  <td style="border: none"></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>

      <div class='sign'>
        <div class='left_sign'>
          <div class='fio strong'><%= t 'rector_name' %></div>
          <%= t 'rector_post' %>
        </div>

        <div class='right_sign'>
          <%= "#{@academic_record.faculty.eng_title}" %>
          <span class='strong'><%= @academic_record.faculty.chief_name %></strong>
          <%= @academic_record.faculty.chief_post %>
        </div>
      </div>

    </div>

  </body>
  </html>
