<%= semantic_form_for @diploma.final_state_examination,
                      :url => diploma_final_state_examination_path(diploma),
                      :remote => true do |form| %>
  <%= form.error_messages %>
  <%= form.input :diploma_id, :as => :hidden, :value => diploma.id %>
  <%= form.inputs :title, :eng_title, :grade %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li><%= link_to t(:cancel), smart_resource_url, :class => "button light" %></li>
  <% end %>
<% end %>
