<% title "#{resource.class.model_name.human}. #{t('Changing information')}" %>

<%= semantic_nested_form_for resource, :url => resource_url do |form| %>
  <%= form.error_messages %>
  <%= render :partial => "form", :object => form %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li><%= link_to t(:cancel), smart_resource_url, :class => "button light" %></li>
    <li class="floatr"><%= link_to t(:destroy), delete_resource_url, :class => "button red light" %></li>
  <% end %>
<% end %>

