<% title resource_class.model_name.human %>

<ul>
  <% @facets.each do |facet| %>
    <li><%= "#{facet.value} (#{facet.count})" %></li>
  <% end %>
</ul>

<div class="actions">
  <%= link_to t(:new), new_resource_url, :class => "button floatr" %>
</div>

<% if collection.any? %>
  <ul class="<%= resource_class.name.downcase.pluralize %>_list collection ">
    <% collection.each do |obj| %>
      <%= render :partial => "item", :locals => { :item => obj } %>
    <% end %>
  </ul>
  <%= will_paginate collection %>
<% end %>

