<span class="handle"><span>[drag]</span></span>
<div>
  <span class='title'><%= practice.title %></span>
  <span class='eng_title'><%= practice.eng_title.present? ? practice.eng_title : 'не указано' %></span>
  <span class='credits'><%= practice.credits %></span>
  <span class='hours'><%= practice.weeks %></span>
  <span class='human_grade'><%= practice.human_grade %></span>
  <span class='actions'>
    <%= link_to t(:destroy), [practice.context, course], :confirm => t('Are you sure?'), :method => :delete, :remote => true, :class=>'delete_link' %>
    <%= link_to t(:edit), [:edit, practice.context, course], :class => 'edit_link' %>
  </span>
</div>

