<%= semantic_form_for @practice, :url => diploma_practices_path(@diploma), :remote => true, :html => {:'data-type' => 'html'} do |form| %>
  <h4>Добавление новой практики</h4>
  <%= form.error_messages %>
  <%= render :partial => 'practices/form', :locals => {:form => form} %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
  <% end %>
<% end %>
