<span class='handle'><span>[drag]</span></span>
<div>
  <span class='title'><%= paper.title %></span>
  <span class='eng_title'><%= paper.eng_title.present? ? paper.eng_title : 'не указано' %></span>
  <%= content_tag :span, paper.grade? ? paper.human_grade : 'не указано', :class => 'human_grade' if paper.context.is_a?(Diploma) %>
  <span class='actions'>
    <%= link_to t(:destroy), [paper.context, paper], :confirm => t('Are you sure?'), :method => :delete, :remote => true, :class=>'delete_link' %>
    <%= link_to t(:edit), [:edit, paper.context, paper], :class => 'edit_link' %>
  </span>
</div>

