<%= semantic_form_for @paper, :url => diploma_papers_path(@diploma), :remote => true, :html => {:'data-type' => 'html'} do |form| %>
  <h4>Добавление новой курсовой работы</h4>
  <%= form.error_messages %>
  <%= render :partial => 'papers/form', :locals => {:form => form} %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
  <% end %>
<% end %>

