<div>
  <span class='title'><%= final_qualification_project.title %></span>
  <span class='eng_title'><%= final_qualification_project.eng_title %></span>
  <span class='credits'><%= final_qualification_project.credits %></span>
  <span class='hours'><%= final_qualification_project.weeks %></span>
  <span class='human_grade'><%= final_qualification_project.human_grade %></span>
</div>

