<div>
  <span class='title'><%= final_qualification_project.title? ? final_qualification_project.title : 'не указано' %></span>
  <span class='eng_title'><%= final_qualification_project.eng_title.present? ? final_qualification_project.eng_title : 'не указано' %></span>
  <span class='credits'><%= final_qualification_project.credits %></span>
  <span class='hours'><%= final_qualification_project.weeks %></span>
  <span class='human_grade'><%= final_qualification_project.human_grade %></span>
  <span class='actions'>
    <%= link_to t(:edit), edit_diploma_final_qualification_project_path(final_qualification_project.diploma), :class => 'edit_link' %>
  </span>
</div>

