<%= semantic_form_for @diploma.final_qualification_project,
                      :url => diploma_final_qualification_project_path(@diploma),
                      :remote => true,
                      :html => {'data-type' => 'html'} do |form|%>
  <h4>Квалификационная работа</h4>
  <%= form.error_messages %>
  <%= form.inputs do %>
    <%= form.input :diploma_id, :as => :hidden %>
    <%= form.input :title %>
    <%= form.input :eng_title %>
    <%= form.input :credits %>
    <%= form.input :weeks %>
    <%= form.input :grade %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
  <% end %>
<% end %>
