<tr>
  <td><%= course.title %><%= link_to t(:delete), diploma_course_path(course.diploma, course), :confirm => t('Are you sure?'), :method => :delete, :remote => true %></td>
  <td><%= course.eng_title %></td>
  <td><%= course.credits %></td>
  <td><%= course.hours %></td>
  <td><%= course.human_grade %></td>
</tr>

