<%= semantic_form_for @course, :url => diploma_courses_path(@diploma), :remote => true, :html => {:'data-type' => 'html'} do |form| %>
  <h4>Добавление новой дисциплины</h4>
  <%= form.error_messages %>
  <%= render :partial => 'courses/form', :locals => {:form => form} %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :class => "button" } %>
  <% end %>
<% end %>
