<div class="institute">
  <h2>
    <%= item.full_name %> (<%= item.short_name %>)
    <%= link_to t(:edit), edit_resource_path(item), :class => "edit" %>
  </h2>
  <p>Район: <%= item.address.human_district %></p>
  <p>Адрес: <%= item.address %></p>
  <p>Номинации: <%= item.human_nomination_kind.join(", ") unless item.nomination_kind.blank? %></p>
</div>

