<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="UTF-8">
  <%= csrf_meta_tag %>
  <title><%= show_title? ? yield(:title) : title_locale %> | <%= t(:application) %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "screen.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print.css", :media => "print" %>
  <!--[if IE]>
  <%= stylesheet_link_tag "ie.css", :media => "screen, projection" %>
  <![endif]-->
  <!--[if IE 6]>
  <%= stylesheet_link_tag "ie6.css", :media => "screen, projection" %>
  <![endif]-->
  <!--[if IE 7]>
  <%= stylesheet_link_tag "ie7.css", :media => "screen, projection" %>
  <![endif]-->
  <!--[if IE 8]>
  <%= stylesheet_link_tag "ie8.css", :media => "screen, projection" %>
  <![endif]-->
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.ui.min.js" %>
  <%= javascript_include_tag "jquery.ui.datepicker.ru.js" %>
  <%= javascript_include_tag "jquery.tipsy.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="site_name">
      <h1><a href="/">Томский Государственный Университет Систем Управления и Радиоэлектроники</a></h1>
      <p>Приложение к диплому</p>
    </div>
    <%= yield :dashboard %>
  </div>
  <%= yield :navigation %>
  <div id="content">
    <noscript>
      <p>Внимание! В Вашем браузере отключена поддержка JavaScript</p>
      <p>Полная функциональность будет недоступна</p>
    </noscript>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <div id="footer">
    <div class="left">
      &#169; Томский Государственный Университет Систем Управления и Радиоэлектроники,
      <%= Date.today.year == 2011 ? "2011" : raw("2011&mdash;#{Date.today.year}") %>
    </div>
    <div class="right">
      <a href="http://openteam.ru/">OpenTeam. Сделано с любовью</a>
    </div>
  </div>
</div>
</body>
</html>

